extends ../layout

block content


    a(href='/vehiculos/create') Agregar Vehiculo

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Marca
                th(scope='col') Modelo
                th(scope='col')
        tbody
            each vehi in vehis
                tr
                    td(scope='row')
                     = vehi.id
                    td=vehi.color
                    td=vehi.marca
                    td=vehi.modelo  
                    td
                        a(href='vehiculos/' + vehi.id + '/update') Editar
                    td
                        form.inline(method='post' action='vehiculos/' + vehi.id + '/delete')
                            input(type='hidden' name='id' value=vehi.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar
                                 

